* {
  box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    margin: 0;
    background: #282D35;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21222A;
  padding: 0 27px;
  height: 91px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
    height: 28.93px;
    width: 28.93px;
}

.logo-text {
  font-weight: 700;
  color: #61DAFB;
  margin-left: 6.68px;
}

.header-right {
  font-weight: 600;
  color: #DEEBF8;
}

.main {
  padding: 36px 86px 36px 27px;
}

.title {
    height: 41px;
    font-style: normal;
    font-weight: 700;
    font-size: 39.06px;
    line-height: 47px;
    letter-spacing: -0.05em;
    color: white;
    margin-bottom: 46px;
}

.list-item {
    height: 17.81px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    margin: 19px;
}
